*{
  box-sizing: border-box;
}
.clearfix:after {
  content:"";
  display:table;
  clear:both;
}

body {
   font-family: sans-serif;
   margin-left: 25px;
   /*background-color: darkgray*/
}
.topcontainer {
  padding: 15px; 0px;
  overflow: hidden;
  border-bottom: 1px solid #CCCCCC;
  margin-bottom: 15px
  max-width: 500px;
}
#moodyslogo {
  float: left;
  display: flex;
  /*margin-left: 25px;*/
  width: 225px;
  height: 72px   
}
header ul li {
  display: inline-block;
  /*margin: 0 0 0 40px;*/
  float: right;
}
.social-icon {
    width: 40px;
    height: 40px;
    margin-right: 5px;
    margin-left: 5px;
    padding: 4px;
    border-radius: 100%;
    background-color: #0028a0;
    transition: background-color .3s ease;
}
img {
    border: 0;
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
}
.social-icons-holder {
   float: right;
   display: flex;
   align-items: center;
   /*margin-right: 25px;*/
   margin-top: 25px;
}

 
#mainmap {
width: 500px; 
height: 475px; 
}

#worldmapgdp {
/*border: 1px dotted blue; */
width: 700px; 
height: 475px; 
position: relative;
}
